In [11]:
import pandas as pd
df_org = pd.read_csv("./Datasets/edu_enrollees.csv")
df_org.head()
# df_org.head()

,enrollee_id,city,city_development_index,gender,relevant_experience,enrolled_university,education_level,major_discipline,experience,company_size,company_type,last_new_job,training_hours,target,Xgrp
0,8949.0,city_103,0.920,Male,Has relevant experience,no_enrollment,Graduate,STEM,>20,NaN,NaN,1,36.0,1.0,train
1,29725.0,city_40,0.776,Male,No relevant experience,no_enrollment,Graduate,STEM,15,50-99,Pvt Ltd,>4,47.0,0.0,train
2,11561.0,city_21,0.624,NaN,No relevant experience,Full time course,Graduate,STEM,5,NaN,NaN,never,83.0,0.0,train
3,33241.0,city_115,0.789,NaN,No relevant experience,NaN,Graduate,Business Degree,<1,NaN,Pvt Ltd,never,52.0,1.0,train
4,666.0,city_162,0.767,Male,Has relevant experience,no_enrollment,Masters,STEM,>20,50-99,Funded Startup,4,8.0,0.0,train

In [13]:
df_pre=df_org.drop(['city','company_size','company_type'],axis=1)
df_pre.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19158 entries, 0 to 19157
Data columns (total 12 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   enrollee_id             19158 non-null  float64
 1   city_development_index  19158 non-null  float64
 2   gender                  14650 non-null  object
 3   relevant_experience     19158 non-null  object
 4   enrolled_university     18772 non-null  object
 5   education_level         18698 non-null  object
 6   major_discipline        16345 non-null  object
 7   experience              19093 non-null  object
 8   last_new_job            18735 non-null  object
 9   training_hours          19158 non-null  float64
 10  target                  19158 non-null  float64
 11  Xgrp                    19158 non-null  object
dtypes: float64(4), object(8)
memory usage: 1.8+ MB

In [14]:
df_pre.columns

Index(['enrollee_id', 'city_development_index', 'gender',
       'relevant_experience', 'enrolled_university', 'education_level',
       'major_discipline', 'experience', 'last_new_job', 'training_hours',
       'target', 'Xgrp'],
      dtype='object')

In [51]:
col_c=['gender','relevant_experience', 'enrolled_university', 'education_level',
       'major_discipline', 'experience', 'last_new_job','Xgrp']
df_pre=df_pre.loc[~(df_pre[col_c].apply(lambda x: x.isna()).sum(axis=1)>0)]
# df_pre['experience'].str.contains(">20|<1")
df_pre=df_pre.loc[~(df_pre['experience'].str.contains(">20|<1"))]
df_pre['experience'].astype(int)
df_pre=df_pre.loc[~(df_pre['last_new_job'].str.contains(">4|never"))]
# df_pre['last_new_job'].unique()
df_pre['last_new_job'].astype(int)
df_pre.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 7522 entries, 8 to 19154
Data columns (total 12 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   enrollee_id             7522 non-null   float64
 1   city_development_index  7522 non-null   float64
 2   gender                  7522 non-null   object
 3   relevant_experience     7522 non-null   object
 4   enrolled_university     7522 non-null   object
 5   education_level         7522 non-null   object
 6   major_discipline        7522 non-null   object
 7   experience              7522 non-null   object
 8   last_new_job            7522 non-null   object
 9   training_hours          7522 non-null   float64
 10  target                  7522 non-null   float64
 11  Xgrp                    7522 non-null   object
dtypes: float64(4), object(8)
memory usage: 764.0+ KB

In [52]:
df1=df_pre.copy()

In [53]:
df1['relevant_experience'].unique()

array(['Has relevant experience', 'No relevant experience'], dtype=object)

In [54]:
df1['target'].unique()

array([1., 0.])

In [61]:
d0=df1.loc[df1['relevant_experience'].str.contains("No")]['enrollee_id'].count()
d1=df1.loc[(df1['relevant_experience'].str.contains("No"))&(df1['target']==1)]['enrollee_id'].count()
d2=df1.loc[df1['relevant_experience'].str.contains("Has")]['enrollee_id'].count()
d3=df1.loc[(df1['relevant_experience'].str.contains("Has"))&(df1['target']==1)]['enrollee_id'].count()
print(d0,d1,d2,d3)
round((d1/d0)/(d3/d2),2)

1413 541 6109 1319

1.77

In [17]:
col_c=['gender','relevant_experience', 'enrolled_university', 'education_level',
       'major_discipline', 'experience', 'last_new_job','Xgrp']
df_pre=df_pre.loc[~df_pre[col_c].apply(lambda x: x.isna()).sum(axis=1),:]
df_pre.head()

KeyError: "None of [Int64Index([-1, -1, -2, -3, -1, -2, -2, -1, -1, -2,\n            ...\n            -2, -1, -1, -2, -1, -1, -1, -1, -2, -3],\n           dtype='int64', length=19158)] are in the [index]"