# 공부한것 정리
1. MinMaxScaler (fit -> transform)
  * scale =  MinMaxScaler().fit(df)
  * df_norm = scale.transform(df)
2. KMeans()
  * k-means 군집분석 실시
  * n_clusters, max_iter,random_state 설정
  * KMean() 함수의 fit() 메서드에 df할당
  * cluster_centers_, labels_ attribute로 확인
    model = KMeans(n_clusters = 3, random_state = 123).fit(df)
    model.labels_
 3.

In [1]:
import pandas as pd
from sklearn.cluster import KMeans
from sklearn.preprocessing import MinMaxScaler
from sklearn.preprocessing import StandardScaler

In [2]:
df = pd.read_csv("iris.csv")
df.shape

(150, 5)

In [4]:
df_1 = df.head()
df_2 = df.tail(1)

In [5]:
df_1

   Sepal.Length  Sepal.Width  Petal.Length  Petal.Width Species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

In [6]:
df_2

     Sepal.Length  Sepal.Width  Petal.Length  Petal.Width    Species
149           5.9          3.0           5.1          1.8  virginica

In [7]:
nor_minmax = MinMaxScaler().fit(df_1.iloc[:, :-1])
nor_minmax

MinMaxScaler()

In [7]:
nor_minmax.transform(df_1.iloc[:, :-1])

array([[1.        , 0.83333333, 0.5       , 0.        ],
       [0.6       , 0.        , 0.5       , 0.        ],
       [0.2       , 0.33333333, 0.        , 0.        ],
       [0.        , 0.16666667, 1.        , 0.        ],
       [0.8       , 1.        , 0.5       , 0.        ]])

In [8]:
nor_minmax.transform(df_2.iloc[:, :-1])

array([[ 2.6,  0. , 19. ,  1.6]])

In [13]:
nor_minmax = MinMaxScaler().fit(df_2.iloc[:, :-1])
nor_minmax.transform(df_2.iloc[:, :-1])

array([[0., 0., 0., 0.]])

In [8]:
nor_minmax = MinMaxScaler().fit(df_1.iloc[:, :-1])
nor_minmax.transform(df_1.iloc[:, :-1])

array([[1.        , 0.83333333, 0.5       , 0.        ],
       [0.6       , 0.        , 0.5       , 0.        ],
       [0.2       , 0.33333333, 0.        , 0.        ],
       [0.        , 0.16666667, 1.        , 0.        ],
       [0.8       , 1.        , 0.5       , 0.        ]])

In [9]:
df_minmax = pd.DataFrame(nor_minmax.transform(df_1.iloc[:, :-1]),
                         columns = df_1.columns[:4])
df_minmax

   Sepal.Length  Sepal.Width  Petal.Length  Petal.Width
0           1.0     0.833333           0.5          0.0
1           0.6     0.000000           0.5          0.0
2           0.2     0.333333           0.0          0.0
3           0.0     0.166667           1.0          0.0
4           0.8     1.000000           0.5          0.0

In [10]:
model = KMeans(n_clusters = 3, random_state = 123).fit(df.iloc[:, :-1])
model

KMeans(n_clusters=3, random_state=123)

In [11]:
model.labels_

array([0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 2, 2, 1, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2,
       2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 1, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2,
       2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 1, 2, 1, 1, 1, 1, 2, 1, 1, 1,
       1, 1, 1, 2, 2, 1, 1, 1, 1, 2, 1, 2, 1, 2, 1, 1, 2, 2, 1, 1, 1, 1,
       1, 2, 1, 1, 1, 1, 2, 1, 1, 1, 2, 1, 1, 1, 2, 1, 1, 2])

In [12]:
model.cluster_centers_

array([[5.006     , 3.428     , 1.462     , 0.246     ],
       [6.85      , 3.07368421, 5.74210526, 2.07105263],
       [5.9016129 , 2.7483871 , 4.39354839, 1.43387097]])

In [14]:
df["cluster"] = model.labels_
df.groupby("cluster").mean()

         Sepal.Length  Sepal.Width  Petal.Length  Petal.Width
cluster
0            5.006000     3.428000      1.462000     0.246000
1            6.850000     3.073684      5.742105     2.071053
2            5.901613     2.748387      4.393548     1.433871

## 1번

In [15]:
df = pd.read_csv("diabetes.csv")
df.head(2)

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0

In [19]:
df1=df[df['BMI']!=0]

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1
...,...,...,...,...,...,...,...,...,...
763,10,101,76,48,180,32.9,0.171,63,0
764,2,122,70,27,0,36.8,0.340,27,0
765,5,121,72,23,112,26.2,0.245,30,0
766,1,126,60,0,0,30.1,0.349,47,1
767,1,93,70,31,0,30.4,0.315,23,0

In [32]:
model =KMeans(n_clusters = 4, random_state = 123).fit(df1)
df1['cluster']=model.labels_
df1.groupby("cluster").count().iloc[:,0]
df1.groupby("cluster")['Insulin'].mean()

<ipython-input-32-7f5224f86588>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1['cluster']=model.labels_

cluster
0      2.957179
1    222.222222
2     99.557078
3    509.166667
Name: Insulin, dtype: float64

In [23]:
df_sub=df.loc[df['BMI']!=0,:]
model=KMeans(n_clusters = 4, random_state = 123).fit(df_sub)

In [24]:
df_sub['cluster']= model.labels_
df_sub.head()

<ipython-input-24-137b2882ca3c>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_sub['cluster']= model.labels_

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome,cluster
0,6,148,72,35,0,33.6,0.627,50,1,0
1,1,85,66,29,0,26.6,0.351,31,0,0
2,8,183,64,0,0,23.3,0.672,32,1,0
3,1,89,66,23,94,28.1,0.167,21,0,2
4,0,137,40,35,168,43.1,2.288,33,1,1

In [27]:
df_sub['cluster'].value_counts()

0    397
2    219
1    117
3     24
Name: cluster, dtype: int64

In [29]:
df_sub.groupby('cluster')['Insulin'].mean()

cluster
0      2.957179
1    222.222222
2     99.557078
3    509.166667
Name: Insulin, dtype: float64

In [23]:
df_sub = df.loc[df["BMI"] != 0, ]
df_sub.head(2)

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0

In [24]:
model = KMeans(n_clusters = 4, random_state = 123).fit(df_sub)
df_sub["cluster"] = model.labels_
df_sub.head(3)

<ipython-input-24-bce4d46e75dc>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_sub["cluster"] = model.labels_

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome,cluster
0,6,148,72,35,0,33.6,0.627,50,1,0
1,1,85,66,29,0,26.6,0.351,31,0,0
2,8,183,64,0,0,23.3,0.672,32,1,0

In [25]:
df_sub["cluster"].value_counts()

0    397
2    219
1    117
3     24
Name: cluster, dtype: int64

In [26]:
df_sub.groupby("cluster")["Insulin"].mean()

cluster
0      2.957179
1    222.222222
2     99.557078
3    509.166667
Name: Insulin, dtype: float64

## 2번

In [33]:
df = pd.read_csv("diabetes.csv")
df.head(2)

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0

In [39]:
df3 = df[df['BMI']!=0]

In [44]:
scale =  MinMaxScaler().fit(df3)
df3_norm = scale.transform(df3)

In [45]:
model=KMeans(n_clusters = 4, random_state = 123).fit(df3_norm)
df3['cluster']=model.labels_
df3['cluster'].value_counts()

<ipython-input-45-390f5058bac8>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df3['cluster']=model.labels_

0    364
2    134
1    132
3    127
Name: cluster, dtype: int64

In [37]:
df3.groupby('cluster').count()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
cluster,,,,,,,,,
0,397,397,397,397,397,397,397,397,397
1,117,117,117,117,117,117,117,117,117
2,219,219,219,219,219,219,219,219,219
3,24,24,24,24,24,24,24,24,24

In [46]:
df3.groupby('cluster')['Age'].mean()

cluster
0    25.733516
1    44.431818
2    29.738806
3    47.062992
Name: Age, dtype: float64

In [30]:
df = pd.read_csv("diabetes.csv")
df.head(2)

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0

In [42]:
df_sub = df.loc[df["BMI"] != 0, ]
df_sub.head(2)

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0

In [33]:
nor_minmax=MinMaxScaler().fit(df_sub)
df_sub_nor = nor_minmax.transform(df_sub)
df_sub_nor = pd.DataFrame(df_sub_nor, columns = df_sub.columns)
df_sub_nor.head()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,0.352941,0.743719,0.590164,0.353535,0.000000,0.314928,0.234415,0.483333,1.0
1,0.058824,0.427136,0.540984,0.292929,0.000000,0.171779,0.116567,0.166667,0.0
2,0.470588,0.919598,0.524590,0.000000,0.000000,0.104294,0.253629,0.183333,1.0
3,0.058824,0.447236,0.540984,0.232323,0.111111,0.202454,0.038002,0.000000,0.0
4,0.000000,0.688442,0.327869,0.353535,0.198582,0.509202,0.943638,0.200000,1.0

In [44]:
model = KMeans(n_clusters = 4, random_state = 123).fit(df_sub_nor)
df_sub_nor["cluster"] = model.labels_
df_sub_nor['cluster'].value_counts()

0    364
2    134
1    132
3    127
Name: cluster, dtype: int64

In [45]:
df_sub.groupby("cluster")["Age"].mean()

KeyError: 'cluster'

In [28]:
df_sub = df.loc[df["BMI"] != 0, ]
df_sub.head(2)

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0

In [29]:
nor_minmax = MinMaxScaler().fit(df_sub)
df_sub_nor = nor_minmax.transform(df_sub)
df_sub_nor = pd.DataFrame(df_sub_nor, columns = df_sub.columns)
df_sub_nor.head(2)

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,0.352941,0.743719,0.590164,0.353535,0.0,0.314928,0.234415,0.483333,1.0
1,0.058824,0.427136,0.540984,0.292929,0.0,0.171779,0.116567,0.166667,0.0

In [46]:
model = KMeans(n_clusters = 4, random_state = 123).fit(df_sub_nor)
df_sub["cluster"] = model.labels_
df_sub.head(3)

<ipython-input-46-36c46fa92fde>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_sub["cluster"] = model.labels_

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome,cluster
0,6,148,72,35,0,33.6,0.627,50,1,3
1,1,85,66,29,0,26.6,0.351,31,0,1
2,8,183,64,0,0,23.3,0.672,32,1,3

In [47]:
df_sub["cluster"].value_counts()

1    364
0    134
3    132
2    127
Name: cluster, dtype: int64

In [48]:
df_sub.groupby("cluster")["Age"].mean()

cluster
0    29.738806
1    25.733516
2    47.062992
3    44.431818
Name: Age, dtype: float64

## 3번

In [47]:
df = pd.read_csv("diabetes.csv")
df3 = df.loc[df["BMI"] != 0, ]
df3.head(2)

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0

In [48]:
model = KMeans(n_clusters = 3, random_state = 123).fit(df3)

In [49]:
model.cluster_centers_

array([[3.97525773e+00, 1.14237113e+02, 6.86474227e+01, 1.52597938e+01,
        1.46969072e+01, 3.14406186e+01, 4.34579381e-01, 3.38082474e+01,
        3.01030928e-01],
       [4.02631579e+00, 1.58447368e+02, 7.20000000e+01, 3.22631579e+01,
        4.41289474e+02, 3.51078947e+01, 5.69210526e-01, 3.47631579e+01,
        5.78947368e-01],
       [3.54273504e+00, 1.29376068e+02, 7.14786325e+01, 3.03376068e+01,
        1.59401709e+02, 3.41346154e+01, 5.35188034e-01, 3.19487179e+01,
        4.18803419e-01]])

In [52]:
df_m = pd.DataFrame(model.cluster_centers_,columns=df3.columns)
df_m=df_m.transpose()
df_m

                                   0           1           2
Pregnancies                 3.975258    4.026316    3.542735
Glucose                   114.237113  158.447368  129.376068
BloodPressure              68.647423   72.000000   71.478632
SkinThickness              15.259794   32.263158   30.337607
Insulin                    14.696907  441.289474  159.401709
BMI                        31.440619   35.107895   34.134615
DiabetesPedigreeFunction    0.434579    0.569211    0.535188
Age                        33.808247   34.763158   31.948718
Outcome                     0.301031    0.578947    0.418803

In [54]:
print(((df_m[0]-df_m[1])**2).sum()**(0.5))
print(((df_m[0]-df_m[2])**2).sum()**(0.5))
print(((df_m[1]-df_m[2])**2).sum()**(0.5))

429.24419310888464
146.33847909815492
283.405999774738

In [49]:
df = pd.read_csv("diabetes.csv")
df_sub = df.loc[df["BMI"] != 0, ]
df_sub.head(2)

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0

In [ ]:
model = KMeans(n_clusters = 4, random_state = 123).fit(df_sub)
df_centers = pd.DataFrame(model.cluster_centers_, columns = df_sub.columns)

In [51]:
df_centers = df_centers.transpose()
df_centers

                                   0           1           2
Pregnancies                 3.975258    4.026316    3.542735
Glucose                   114.237113  158.447368  129.376068
BloodPressure              68.647423   72.000000   71.478632
SkinThickness              15.259794   32.263158   30.337607
Insulin                    14.696907  441.289474  159.401709
BMI                        31.440619   35.107895   34.134615
DiabetesPedigreeFunction    0.434579    0.569211    0.535188
Age                        33.808247   34.763158   31.948718
Outcome                     0.301031    0.578947    0.418803

In [52]:
print(sum((df_centers.iloc[:, 0] - df_centers.iloc[:, 1]) ** 2) ** 0.5)
print(sum((df_centers.iloc[:, 1] - df_centers.iloc[:, 2]) ** 2) ** 0.5)
print(sum((df_centers.iloc[:, 0] - df_centers.iloc[:, 2]) ** 2) ** 0.5)

429.24419310888464
283.405999774738
146.33847909815492

In [50]:
model = KMeans(n_clusters = 3, random_state = 123).fit(df_sub)
df_centers = pd.DataFrame(model.cluster_centers_, columns = df_sub.columns)
df_centers

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,3.975258,114.237113,68.647423,15.259794,14.696907,31.440619,0.434579,33.808247,0.301031
1,4.026316,158.447368,72.000000,32.263158,441.289474,35.107895,0.569211,34.763158,0.578947
2,3.542735,129.376068,71.478632,30.337607,159.401709,34.134615,0.535188,31.948718,0.418803

In [36]:
df_centers = df_centers.transpose()
df_centers

                                   0           1           2
Pregnancies                 3.975258    4.026316    3.542735
Glucose                   114.237113  158.447368  129.376068
BloodPressure              68.647423   72.000000   71.478632
SkinThickness              15.259794   32.263158   30.337607
Insulin                    14.696907  441.289474  159.401709
BMI                        31.440619   35.107895   34.134615
DiabetesPedigreeFunction    0.434579    0.569211    0.535188
Age                        33.808247   34.763158   31.948718
Outcome                     0.301031    0.578947    0.418803

In [37]:
print(sum((df_centers.iloc[:, 0] - df_centers.iloc[:, 1]) ** 2) ** 0.5)
print(sum((df_centers.iloc[:, 1] - df_centers.iloc[:, 2]) ** 2) ** 0.5)
print(sum((df_centers.iloc[:, 0] - df_centers.iloc[:, 2]) ** 2) ** 0.5)

429.24419310888464
283.405999774738
146.33847909815492